---
import CloseIcon from "@/icons/CloseIcon.astro";
import SearchFormButton from "./SearchFormButton.astro";
---

<script>
  import { alpineData } from "@/utils";
  import initialResults from "./initial.json";

  alpineData("search_form", () => ({
    init() {
      document.addEventListener("keydown", (e) => {
        if ((e.ctrlKey || e.metaKey) && e.key === "k") {
          e.preventDefault();
          this.$refs.dialog.showModal();
        }
      });
    },
    results: initialResults,
    async fetchResults() {
      const searchValue = this.$refs.search.value;
      if (searchValue) {
        // TODO: handle error
        const res = await fetch(
          "/api/cities?q=" + this.$refs.search.value
        ).then((res) => res.json());
        this.results = res;
      }
    },
  }));
</script>

<div x-data="search_form">
  <SearchFormButton />

  <dialog
    class="text-inherit bg-transparent mt-40 w-full max-w-96"
    x-ref="dialog"
  >
    <div
      class="p-4 pt-7 bg-surface-50 dark:bg-surface-900 rounded-md mx-2 relative"
    >
      <button
        class="bg-transparent absolute right-1 top-1 w-8 h-8"
        @click="$refs.dialog.close()"
      >
        <CloseIcon />
      </button>

      <input
        class="border-b p-1 outline-none bg-transparent border-surface-400 dark:border-surface-800 w-full"
        x-ref="search"
        type="search"
        @input.debounce="fetchResults()"
        autofocus
      />

      <ul class="pt-4">
        <template x-if="results.length == 0">
          <li class="text-center">no results found</li>
        </template>
        <template x-for="result in results">
          <li>
            <a
              class="flex gap-3 items-end text-auto p-1"
              :href="`/?lat=${result.lat}&lon=${result.lon}`"
            >
              <span x-text="result.name"></span>
              <span class="text-sm opacity-70" x-text="result.country"></span>
            </a>
          </li>
        </template>
      </ul>
    </div>
  </dialog>
</div>
