---
import MoonIcon from "@/icons/Moon.astro";
import SunIcon from "@/icons/Sun.astro";
---

<script>
  import { alpineData } from "@/utils";

  const root = document.documentElement;

  alpineData("theme_toggle", () => ({
    theme: undefined,
    init() {
      let theme = localStorage.getItem("theme");
      if (!theme) {
        let isDark = window.matchMedia("(prefers-color-scheme: dark)").matches;
        theme = isDark ? "dark" : "light";
      }
      this.theme = theme;
      if (theme === "dark") root.classList.add("dark");
    },
    toggle() {
      if (this.theme === "light") {
        localStorage.setItem("theme", "dark");
        this.theme = "dark";
        root.classList.add("dark");
      } else if (this.theme === "dark") {
        localStorage.setItem("theme", "light");
        this.theme = "light";
        root.classList.remove("dark");
      }
    },
  }));
</script>

<button
  class="w-9 h-9 p-1 rounded-full border border-surface-500 dark:border-surface-800 bg-surface-300 text-surface-600 dark:bg-surface-900 dark:text-surface-600"
  x-data="theme_toggle"
  @click="toggle()"
>
  <template x-if="theme === 'light'">
    <SunIcon />
  </template>
  <template x-if="theme === 'dark'">
    <MoonIcon />
  </template>
</button>
