---
import ThemeToggle from "./ThemeToggle.astro";
---

<script>
  import { alpineData } from "@utils/index";
  alpineData("search_form", () => ({
    results: [],
    async fetchResults() {
      // TODO: handle error
      const res = await fetch("/api/cities?q=" + this.$refs.search.value).then(
        (res) => res.json()
      );
      this.results = res;
    },
  }));
</script>

<div>
  <ThemeToggle />
  <div x-data="search_form">
    <form x-on:submit.prevent="fetchResults()">
      <input class="m-2 border border-stone-400" x-ref="search" type="search" />
      <button type="submit">search</button>
    </form>

    <ul>
      <template x-for="result in results">
        <li>
          <a
            :href="`/?lat=${result.lat}&lon=${result.lon}`"
            x-text="result.name + ', ' + result.country"></a>
        </li>
      </template>
    </ul>
  </div>
</div>
