---
import Topbar from "@/navbar/Topbar.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Document</title>
    <script is:inline>
      let theme = localStorage.getItem("theme");
      if (!theme) {
        const isDark = window.matchMedia(
          "(prefers-color-scheme: dark)"
        ).matches;
        theme = isDark ? "dark" : "light";
      }
      // avoid FOUC
      if (theme === "dark") document.documentElement.classList.add("dark");
    </script>
  </head>
  
  <body
    class="text-surface-950 bg-surface-100 dark:bg-surface-950 dark:text-surface-50"
  >
    <Topbar />
    <slot />
  </body>
</html>
