---
import ThemeScript from "@/navbar/ThemeScript.astro";
import Topbar from "@/navbar/Topbar.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Document</title>
    <ThemeScript />
  </head>

  <body
    class="text-surface-900 bg-surface-100 dark:bg-surface-950 dark:text-surface-50"
  >
    <Topbar />
    <slot />
  </body>
</html>
