---
import Topbar from "@components/Topbar.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Document</title>
    <script is:inline>
      // avoid FOUC
      const root = document.querySelector("html");
      let theme = localStorage.getItem("theme");
      
      if (!theme) {
        const isDark = window.matchMedia(
          "(prefers-color-scheme: dark)"
        ).matches;
        theme = isDark ? "dark" : "light";
      }

      if (theme === "dark") root.classList.add("dark");
    </script>
  </head>
  <body class="bg-surface-100 dark:bg-surface-900">
    <Topbar />
    <slot />
  </body>
</html>
